@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v7/ijwOs5juQtsyLLR5jN4cxBEoRDf44uE.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v7/ijwTs5juQtsyLLR5jN4cxBEofJs.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v7/ijwOs5juQtsyLLR5jN4cxBEoRG_54uE.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v7/ijwOs5juQtsyLLR5jN4cxBEoREP-4uE.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindsiliguri/v7/ijwOs5juQtsyLLR5jN4cxBEoRCf_4uE.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16px;
  color: black;
  background-color: #E5E5E5;
}
.wrapper {
  background-color: #FFFFFF;
  width: 1600px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
}
h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 71px;
  color: #030D15;
}
h2 span {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #C72535;
  opacity: 0.6;
  display: block;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
header {
  padding: 27px 0;
}
header .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .block .logo {
  display: flex;
}
header .block nav ul {
  display: flex;
}
header .block nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
  color: black;
}
header .block nav ul li img {
  margin-left: 4px;
}
header .block nav ul li:not(:last-child) {
  margin-right: 36px;
}
header .block .right {
  display: flex;
  align-items: center;
}
header .block .right button {
  position: relative;
  margin-right: 28px;
}
header .block .right button span {
  width: 12px;
  height: 12px;
  background: #C72535;
  font-size: 10px;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -3px;
  right: -4px;
}
header .block .right a {
  width: 35px;
  height: 35px;
  background: #F4F9FC;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.sec1 {
  padding-top: 54px;
}
.sec1 .block {
  display: flex;
  justify-content: space-between;
}
.sec1 .block .txt {
  width: 555px;
  flex-shrink: 0;
  margin-top: 79px;
}
.sec1 .block .txt .t1 {
  line-height: 26px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #C72535;
  opacity: 0.6;
}
.sec1 .block .txt .t2 {
  font-size: 61px;
  line-height: 73px;
}
.sec1 .block .txt .t2 b {
  font-weight: 600;
  color: #247CC0;
  background: rgba(36 124 192 / 10%);
  display: inline-block;
  padding: 0 10px;
  margin-left: -10px;
}
.sec1 .block .txt .t3 {
  margin: 29px 0 36px;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.6;
}
.sec1 .block .txt .t4 {
  display: flex;
  align-items: center;
}
.sec1 .block .txt .t4 button {
  width: 151px;
  height: 58px;
  background: #247CC0;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec1 .block .txt .t4 span {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #030D15;
  margin: 0 18px 0 31px;
}
.sec1 .block .txt .t4 del {
  font-weight: 300;
  line-height: 27px;
  text-decoration-line: line-through;
  opacity: 0.5;
}
.sec1 .block img {
  position: relative;
  right: -29px;
}
.sec2 {
  margin-top: -37px;
}
.sec2 .block {
  position: relative;
  height: 238px;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
  padding: 76px 118px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec3 {
  padding: 132px 0 162px;
}
.products-block {
  display: flex;
}
.products-block .product-item:first-of-type {
  margin-right: 32px;
}
.products-block .product-item {
  width: 50%;
  display: flex;
}
.products-block .product-item .left {
  width: 262px;
  height: 248px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #FFFFFF;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-block .product-item .left img {
  width: 90%;
}
.products-block .product-item .left button {
  width: 44px;
  height: 44px;
  border: 3px solid #F3F3F3;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: -22px;
  right: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-block .product-item .left button:hover {
  cursor: pointer;
  border-color: #247CC0;
}
.products-block .product-item .left button img {
  width: 18px;
}
.products-block .product-item .right {
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
}
.products-block .product-item .right .t1 {
  margin-top: 30px;
}
.products-block .product-item .right .t1 a {
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #030D15;
}
.products-block .product-item .right .t2 {
  margin-top: 12px;
  font-size: 14px;
  line-height: 21px;
  color: #030D15;
}
.products-block .product-item .right .t3 {
  margin: 19px 0 9px;
}
.products-block .product-item .right .t3 span {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #030D15;
}
.products-block .product-item .right .t4 svg.active path {
  fill: #C72535;
}
.sec4 .block {
  display: flex;
  justify-content: space-between;
}
.sec4 .block .item {
  display: flex;
  justify-content: space-between;
  width: 555px;
  height: 296px;
  background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.sec4 .block .item .text {
  padding: 73px 0 75px 35px;
  display: flex;
  flex-direction: column;
}
.sec4 .block .item .text .t1 {
  font-weight: 500;
  line-height: 27px;
  text-transform: uppercase;
  color: #F4F9FC;
  opacity: 0.6;
  margin-bottom: 4px;
}
.sec4 .block .item .text .t2 {
  font-weight: 600;
  font-size: 31px;
  line-height: 40px;
  color: #F4F9FC;
  margin-bottom: 7px;
}
.sec4 .block .item .text a {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  color: #F4F9FC;
}
.sec4 .block .item .dron {
  position: absolute;
  right: -29px;
  top: -25px;
}
.sec4 .block .item .cam {
  position: absolute;
  right: 23px;
  top: 31px;
}
.sec5 {
  padding-top: 269px;
}
.sec5 .blue {
  background-color: #F4F9FC;
}
.sec5 .blue .block {
  display: flex;
  justify-content: space-between;
}
.sec5 .blue .block .left img {
  margin-top: -226px;
  position: relative;
  left: -96px;
}
.sec5 .blue .block .right {
  width: 457px;
}
.sec5 .blue .block .right h2 {
  margin-top: -110px;
}
.sec5 .blue .block .right h2 span {
  letter-spacing: 0.145em;
}
.sec5 .blue .block .right .t1 {
  margin-top: 115px;
  margin-bottom: 41px;
  font-size: 16px;
  line-height: 24px;
  color: #030D15;
  opacity: 0.6;
}
.sec5 .blue .block .right .t1 p {
  margin-bottom: 24px;
}
.sec5 .blue .block .right ul li {
  display: flex;
  margin-bottom: 22px;
}
.sec5 .blue .block .right ul li:before {
  width: 18px;
  height: 18px;
  background: #247CC0;
  border-radius: 50%;
  background-image: url(../img/Vector.png);
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 4px;
  margin-right: 15px;
  flex-shrink: 0;
}
.sec0 {
  height: 2712px;
}
.sec8 {
  background-color: #E6EDF2;
  padding: 100px 230px;
  display: flex;
  justify-content: space-between;
}
.sec8 .left {
  width: 360px;
}
.sec8 .left .t1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #C72535;
  opacity: 0.6;
}
.sec8 .left .t2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: #030D15;
  margin-bottom: 6px;
}
.sec8 .left .t3 {
  font-size: 14px;
  line-height: 21px;
  color: #030D15;
  opacity: 0.6;
}
.sec8 .right {
  display: flex;
  align-items: center;
}
.sec8 .right form .placeholder {
  width: 335px;
  height: 50px;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 26px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sec8 .right form .submit {
  background: #247CC0;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #247CC0;
  width: 122px;
  height: 50px;
}
.sec9 {
  padding: 75px 230px;
  background: #030D15;
}
.sec9 .block {
  display: flex;
  justify-content: space-between;
}
.sec9 .block .logo {
  width: 261px;
}
.sec9 .block .logo p {
  margin-top: 21px;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  opacity: 0.6;
}
.sec9 .block .li h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 26px;
  text-transform: uppercase;
}
.sec9 .block .li li {
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 15px;
}
.sec9 .block .information {
  width: 165px;
}
.sec9 .block .footer-menu {
  width: 165px;
}
.sec9 .block .useful-links {
  width: 165px;
}
.sec9 .block .about-the-store {
  width: 261px;
}
.sec9 .block .about-the-store .text h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 28px;
}
.sec9 .block .about-the-store .text p {
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 12px;
}
.sec9 .block .about-the-store .text a {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.sec9 .block .about-the-store .text .links a:not(:last-child) {
  margin-right: 19px;
}
.df {
  display: flex;
}
.jb {
  justify-content: space-between;
}
.jc {
  justify-content: center;
}
.vc {
  align-items: center;
}
.dfc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
